[submodule "Text_Classification_Using_EM_And_Semisupervied_Learning"]
	path = Text_Classification_Using_EM_And_Semisupervied_Learning
	url = https://github.com/chankrista/Text_Classification_Using_EM_And_Semisupervied_Learning.git
